body{
    font-family: cormorant ,serif;
}


h1{
    display: inline-block;
    font-weight: 300;
    margin: 0 32px 0 0;
}

.links li{
    display: inline-block;
}

.links{
    display: inline-block;
}

.links a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;

}

.navbar{
    padding: 20px;
}

.links ul{
    padding: 0;
}

a.active{
     border-bottom: 1px solid black;

}

.card img{
    height: 500px;
    width: 100%;
    object-fit: cover;

}

.gallery{
    padding: 16px;
}
.card{
    width: 49.75%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;

}

.card h2{
    display: inline-block;
    margin: 8px 0 12px 0;
    font-weight: 300;
}

.about{
    width: 40%;
    max-width: 600px;
    margin: 100px 200px;
}

.about h3{
    font-weight: 300;
    font-size: 40px;
}

.contact{
    margin-top: 100px;
}

.contact p{
    margin:0;
    font-size: 20px;
}

.cta{
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 10px;
    margin-top: 0;
}

img:hover{
    opacity: 0.9;
}

@media only screen and (max-width: 810px){
    .card{
        width: 100%;
    }

    .about{
        margin: 100px 0 100px 100px;
    }
}

@media only screen and (max-width: 630px){
    .card{
       padding: 0;
    }

    .gallery{
        padding: 8px;
    }

    .about{
        margin: 100px auto;
        width: 60%;
    }

    .about h3{
        font-size: 30px;
    }
}